
.form-error{
    background-color: red;
}

.usersum-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.usersum-details ul{
    padding-left: 0;
}

.usersum-detail-type{
    margin-right: 10px;
}

.usersum-detail-type li{
    text-align: right;
}

.usersum-detail-data{
    margin-left: 10px;
}

.usersum-detail-data li{
    text-align: left;
}