.User{
    padding-bottom: 40px;
}

.User section{
    width: 100%;
    margin: 20px auto;
}

.User h2{
    text-align: left;
}

.user-info ul,
.tasks-history ul{
    width: 100%;
    margin: 10px auto;
    padding: 0;
}

.user-info li,
.tasks-history li{
    margin: 5px 0;
    text-align: left;
}

.tasks-history li{
    font-family: 'Roboto Mono', monospace;
}

.User button{
    width: 100%;
    margin: 8px auto;
    display: block;
  }

@media screen and (min-device-width: 768px){

    .User{
        max-width: 600px;
        margin: 0 auto;
    }
   
    
 }