.Footer{
    width: 100%;
    min-width: 400px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 4px solid #009fd9;
    
}

.footer-branding p{
    width: 90%;
    margin: 10px auto;
    text-align: left;
    font-weight: 700;
    font-size: 0.8em;
}
